.article-container {
  max-width: 90%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 3rem;
  background: #efefef;
  font-family: 'Catamaran';
  border-radius: 2rem;
}

.article-container h1 {
  font-size: 2rem;
  font-weight: bold;
  padding: 0 1.5rem 0 1.5rem;
}

.headerartikel {
  text-align: center;
  margin-bottom: 20px;
}

.article-container h1 {
  margin-bottom: 10px;
}

.meta {
  color: #777;
}

.article-container img {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 3rem;
}

.article-content {
  position: relative;
  line-height: 1.6;
  padding: 2rem;
  text-align: justify;
  width: auto;
  height: auto;
  background-color: #D6DBDF;
  border-radius: 3rem;
  z-index: 1;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
  .article-container {
    padding: 10px;
  }

  .headerartikel {
    font-size: 1.5em;
  }

  .article-container img {
    margin-bottom: 10px;
  }
}



/* Customize styles further as needed */
.article-container .loading-wave {
  width: 20%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  bottom: 0%;
  left: 82%;
  margin-top: 4rem;
}

.article-container .loading-bar {
  width: 20px;
  height: 10px;
  margin: 0 5px;
  background-color: #3498db;
  border-radius: 5px;
  animation: loading-wave-animation 1s ease-in-out infinite;
}

.article-container.loading-bar:nth-child(2) {
  animation-delay: 0.1s;
}

.article-container .loading-bar:nth-child(3) {
  animation-delay: 0.2s;
}

.article-container .loading-bar:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
  0% {
    height: 10px;
  }

  50% {
    height: 50px;
  }

  100% {
    height: 10px;
  }
}





.article-container .loader {
  --dim: 2.6rem;
  width: var(--dim);
  height: var(--dim);
  position: absolute;
  right: 9%;
  top: 17%;
  animation: spin988 2s linear infinite;
}

.article-container .loader .circle {
  --color: #333;
  --dim: 1rem;
  width: var(--dim);
  height: var(--dim);
  background-color: var(--color);
  border-radius: 50%;
  position: absolute;
}

.article-container .loader .circle:nth-child(1) {
  top: 0;
  left: 0;
}

.article-container .loader .circle:nth-child(2) {
  top: 0;
  right: 0;
}

.article-container .loader .circle:nth-child(3) {
  bottom: 0;
  left: 0;
}

.article-container .loader .circle:nth-child(4) {
  bottom: 0;
  right: 0;
}

@keyframes spin988 {
  0% {
    transform: scale(1) rotate(0);
  }

  20%, 25% {
    transform: scale(1.3) rotate(90deg);
  }

  45%, 50% {
    transform: scale(1) rotate(180deg);
  }

  70%, 75% {
    transform: scale(1.3) rotate(270deg);
  }

  95%, 100% {
    transform: scale(1) rotate(360deg);
  }
}




.article-container .back {
  position: relative;
  width: auto;
  height: 0px;
}


.article-container .matrix {
  position: absolute;
  left: 77%;
  width: 45px;
  height: 45px;
  background: linear-gradient(#0000 calc(1*100%/6),#58D68D calc(3*100%/6),#0000 0),
            linear-gradient(#0000 calc(2*100%/6),#F1C40F calc(4*100%/6),#0000 0),
            linear-gradient(#0000 calc(3*100%/6),#E74C3C calc(5*100%/6),#0000 0);
  background-size: 10px 400%;
  background-repeat: no-repeat;
  animation: matrix 1s infinite linear;
}

@keyframes matrix {
  0% {
    background-position: 0% 100%, 50% 100%, 100% 100%
  }

  100% {
    background-position: 0% 0%, 50% 0%, 100% 0%
  }
}
    




.fourloader {
  position: relative;
  width: 2.5em;
  height: 0px;
  transform: rotate(165deg);
  scale: 2;
 }
 
 .fourloader:before, .fourloader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
 }
 
 .fourloader:before {
  animation: before8 2s infinite;
 }
 
 .fourloader:after {
  animation: after6 2s infinite;
 }
 
 @keyframes before8 {
  0% {
   width: 0.5em;
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  35% {
   width: 2.5em;
   box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
 
  70% {
   width: 0.5em;
   box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  100% {
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 }
 
 @keyframes after6 {
  0% {
   height: 0.5em;
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 
  35% {
   height: 2.5em;
   box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
 
  70% {
   height: 0.5em;
   box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
 
  100% {
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 }
 

 .videoyt {
  display: flex;
  justify-content: center;
 }

 iframe {
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 80%;
  height: 20rem;
 }





 .btn-next button {
  align-items: center;
  background-color: #283747;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 0.3rem;
  padding-right: 0.7rem;
  border-radius: 6px;
  position: absolute;
  left: -1rem;
  bottom: 2rem;
}

.btn-next button:hover {
  color: #fff;
}

.btn-next button:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.btn-next button:hover:before {
  background-color: #fff;
  width: 3rem;
}